

<h1 *ngIf="!heroe._id; else editarDiv" class="form">Nuevo Héroe <small>{{heroe.superhero}}</small></h1>

<ng-template #editarDiv>
  <h1 class="form"> Editar Héroe <small>{{heroe.superhero}}</small></h1>
</ng-template>

<div

      fxLayout.xs="column"
      fxLayout="row"
      fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">

    <div

          fxLayout="row"
          fxLayoutGap="20px">

      <mat-form-field fxFlex="50">
        <mat-label>Super Héroe</mat-label>
        <input
              matInput
              type="text"
              [(ngModel)]="heroe.superhero"
              required>
      </mat-form-field>

      <mat-form-field fxFlex="50">
        <mat-label>Alter Ego</mat-label>
        <input
              matInput
              type="text"
              [(ngModel)]="heroe.alter_ego"
              required>
      </mat-form-field>

    </div>

    <mat-form-field>
      <mat-label>1ª Aparicion</mat-label>
      <input
            matInput
            type="text"
            [(ngModel)]="heroe.first_appearance"
            required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input
            matInput
            type="text"
            [(ngModel)]="heroe.characters"
            required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="heroe.publisher">
        <mat-option *ngFor="let publisher of publishers"
                    [value]="publisher.id"
                    >{{ publisher.desc }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input

            matInput
            type="url"
            [(ngModel)]="heroe.alt_img"
            required>
    </mat-form-field>
    <div class=" error" *ngIf="!isValidForm">
      <span>*Todos los campos son obligatorios</span>
    </div>
    <br>

    <mat-divider></mat-divider>
    <div class="spacer mtop">
          <button
                  [disabled]="saved"
                  (click) = "guardar()"
                  mat-raised-button
                  color="primary">
            <mat-icon>edit</mat-icon>
            <span *ngIf="!heroe._id; else editarSpan">Agregar</span>
            <ng-template #editarSpan>Guardar Cambios</ng-template>
          </button>
          <button  *ngIf="heroe._id"
                   (click)="delete()"
                   color="warn"
                   mat-raised-button>Eliminar
           <mat-icon>delete</mat-icon>
          </button>

    </div>

  </div>
  <div fxFlex="50">
    <img [src]="heroe | image" alt="photo">
  </div>
</div>

<div *ngIf="saved" class="toast" >
  <h1>Guardado correctamente...</h1>
</div>
