<p>error-page works!</p>


<div fxLayout="row" fxLayoutAlign="space-between">


<ul>
  <li>
    <a routerLink="/auth/login">
       Login
    </a>
  </li>
  <li>
    <a routerLink="/auth/register">
      Register
    </a>
  </li>
</ul>


<ul>
  <li>
    <a routerLink="/heroes/listado">Listado</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Agregar</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/editar', 45]">Editar</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Buscar</a>
  </li>
  <li>
    <a [routerLink]="['/heroes/', 35]">Ver Heroe</a>
  </li>

</ul>

</div>
