

<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary" class="spacer">
      <span style="margin-right: 12px;">Menú</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
              role="listitem"
              routerLink="./listado"
              (click)="sidenav.toggle()"
              >
         <div class="list-item-mi">
           <mat-icon mat-list-icon>label</mat-icon>
           <div>Listado de Héroes</div>
         </div>

      </mat-list-item>

      <mat-list-item
              role="listitem"
              routerLink="./agregar"
              (click)="sidenav.toggle()"
              >
        <div class="list-item-mi">
          <mat-icon mat-list-icon>add</mat-icon>
          <div>Agregar Héroe</div>
        </div>

      </mat-list-item>
      <mat-list-item
              role="listitem"
              routerLink="./buscar"
              (click)="sidenav.toggle()"
             >
             <div class="list-item-mi">
              <mat-icon mat-list-icon>search</mat-icon>
              <div>Buscar Héroe</div>
            </div>

      </mat-list-item>
    </mat-nav-list>




  </mat-sidenav>

  <mat-toolbar class="spacer">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

      <h2>{{ user | titlecase}}</h2>

      <button mat-button
              (click)="logOut()"
            >Logout</button>

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
