


<mat-card>
  <mat-card-header>
    <mat-card-title>{{ heroe.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
  </mat-card-header>
  <div class="photo">
    <img mat-card-image [src]="heroe | image"  [alt]="[heroe._id]">
  </div>
  <mat-card-content>
    <br>
    <h3>{{ heroe.publisher}}</h3>
    <p>
      <br>
      <strong>1ª aparición: </strong> {{heroe.first_appearance}}
      <br>
      <strong>Personajes: </strong> {{heroe.characters.substring(0,12)}}
    </p>
  </mat-card-content>
  <mat-card-actions class="spacer">
    <button
          mat-button
          color="warn"
          [routerLink]="['/heroes/', heroe._id]"
    >leer más</button>
    <button
          mat-button
          color="info"
          [routerLink]="['/heroes/editar', heroe._id]"
    >Editar</button>
  </mat-card-actions>

 </mat-card>
